---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  <p>Initially we focus this site on Ethical Hacking, which corresponds to Pentesting in the European Cyber Security Framework.</p>
  <p><img src="{{site.baseurl}}/assets/images/enisa-ecsf.png" alt="ENISA ECSF"></p> 
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
